

hr {
    margin-top:2rem;
    margin-bottom:2rem;
}


/**
 * Owl Carousel Styling
 */
 @media only screen and (min-width: 1200px) {
    .item img {
        /* Limit width on large screens */
        max-width: 50vw;
    }
 }
.item img {
    /* Prevent Owl js from changing width */
    width: 96% !important;
    margin: 0 auto !important;
}


/**
 * Footer content
 */
.thm-clr {
    transition: 0.25s color;
    color: #FFB300;
}

.thm-clr:hover {
    color: #ffffff;
}


.sec-title {
    position: relative;
    margin-top: 10px !important;
    padding-bottom: 50px;
}

/**
 *  Events page
 */
.key-benefits-service .single-box {
    width: 100%;
    padding-left: 10px;
    border: 1px solid #e6e6e6;
    -webkit-box-shadow: 6px 6px 7px 0px rgba(143,143,143,1);
    -moz-box-shadow: 6px 6px 7px 0px rgba(143,143,143,1);
    box-shadow: 6px 6px 7px 0px rgba(143,143,143,1);
    transition: 200ms linear;
    border-radius:10px;
}

.key-benefits-service .single-box:hover {
    -webkit-box-shadow: 6px 6px 12px 0px rgba(143,143,143,1);
    -moz-box-shadow: 6px 6px 12px 0px rgba(143,143,143,1);
    box-shadow: 6px 6px 12px 0px rgba(143,143,143,1);

}

.key-benefits-service .single-box .text-holder {
    border: none !important;
    text-align: left;
    padding: 0 0 5px 0 !important;
}

.key-benefits-service .single-box .image-holder {
    margin: 5px auto !important;
    max-height: 180.25px;
    max-width: 180.25px;
}

.key-benefits-content .single-box:hover .text-holder h3 a {
    color: #222222!important;
}

.flex-stretch {
    align-self: stretch;
    flex: auto;
}

.grid-col-1 {
    grid-column: 1;
}

.grid-col-2 {
    grid-column: 2;
}

.grid-col-1-to-2 {
    grid-column: 1 / span 2;
}

.grid-row-1 {
    grid-row: 1;
}

.grid-row-2 {
    grid-row: 2;
}

.grid-row-3 {
    grid-row: 3;
}

.btns-box.grid-row-3 {
    align-self: start;
}

.flex {
    display: flex !important;
}

@media only screen and (min-width: 575px) {
    .key-benefits-service .single-box {
        display: flex !important;
        align-items: center;
    }

    .grid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 50% 25%;
    }

    .key-benefits-service .single-box .image-holder {
        margin: 5px 5px 5px 0 !important;
    }

    .date {
        text-align: right !important;
        margin-right: 5px !important;
    }
}

/**
 *  Project Team
 */

@media only screen and (min-width: 766px) {
   .member-container {
        height: 220px;
    }
}

.member-details {
    font-size: 18px !important;
}

.board-members, .board-members li {
    list-style: circle !important;
}

/**
 * Get Involved
 */
.get-involved ul {
    display: block!important;
    padding-bottom: 10px;
}

.get-involved ul li {
    -webkit-box-shadow: 6px 6px 7px 0px rgba(143,143,143,1);
    -moz-box-shadow: 6px 6px 7px 0px rgba(143,143,143,1);
    box-shadow: 6px 6px 7px 0px rgba(143,143,143,1);
    transition: 200ms linear;
}

.get-involved ul li:hover {
    -webkit-box-shadow: 6px 6px 12px 0px rgba(143,143,143,1);
    -moz-box-shadow: 6px 6px 12px 0px rgba(143,143,143,1);
    box-shadow: 6px 6px 12px 0px rgba(143,143,143,1);
}

@media only screen and (min-width: 767px) {
    .get-involved ul {
        display: flex!important;
        justify-content: space-around;
    }

    .get-involved ul li {
        max-width: 390px !important;
        border: 1px solid #e6e6e6 !important;
        padding: 30px 28px !important;
        border-radius:10px;
    }
}

@media only screen and (max-width: 991px) {
    .get-involved ul li {
        max-width: 310px !important;
    }
}

/**
 * Homepage
 */
.learning-cycle {
    float:right;
    width: 30% !important;
    top: -50px;
    position: relative;
}

@media only screen and (max-width: 1200px) {
    .learning-cycle {
        width: 40% !important;
        position: static;
    }
}

@media only screen and (max-width: 991px) {
    .learning-cycle {
        width: 50% !important;
        top: 0;
        position:static;
    }
}

@media only screen and (max-width: 575px) {
    .learning-cycle {
        width: 100% !important;
        float: none !important;
        margin: 0 auto;
    }
}
